* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {    
    margin: 0 auto;    
    width: 1280px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 12px 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;    
    width: 270px;
}

nav ul a {
    text-decoration: none;    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  rgb(0, 0, 0); 
}

.btn_login {
    width: 200px;
    height: 54px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 153, 255);
}

.hosp_info {
    margin: 0px auto;
    width: 1280px;      
    display: flex;    
    align-items: center;
}

.hosp_desc h1 {
    margin-bottom: 32px;
    width: 632px;
    height: 122px;    
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
    letter-spacing: 0.05em;
    text-transform: capitalize    
}

.hosp_desc p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 156%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
}

.btn_check {
    width: 200px;
    height: 54px;    
    align-items: center;
    background: rgb(0, 153, 255);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgb(255, 255, 255);
}



/* .second_screen h3, .third_screen h3 {
font-weight: 600;
font-size: 18px;
text-align: center;
color: #FFA90F;
margin-bottom: 10px;
}

.second_screen h2, .third_screen h2{
font-family: 'Volkhov';
font-weight: 700;
font-size: 50px;
text-align: center;
color: #14183E;
margin-bottom: 68px;
}

.category {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
}

.item {
    text-align: center;
    width: 275px;
    padding: 17px 42px 45px;    
}

.item img {
    width: 85px;
    height: 70px;
    object-fit: contain;        
}

.item:hover {
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}

.item h4 {
font-family: 'Open Sans';
font-weight: 600;
font-size: 20px;
text-align: center;
color: #1E1D4C;
margin: 15px 0 30px;
}

.item p {
font-weight: 500;
font-size: 16px;
line-height: 26px;
color: #5E6282;
}

.third_screen {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 111px;      
}

.third_screen h2{
    margin-bottom: 60px;
}

.card_cont { 
    width: 1060px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
}

.card1, .card2, .card3 {    
    border-radius: 24px;
    height: 460px;
    width: 315px;      
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(../img/rome.png);
    background-repeat: no-repeat;    
    background-position: -82px -10px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.crad_disc {      
    width: 100%;
    height: 130px;
    background: #FFFFFF;
    border-radius: 0px 0px 24px 24px;
}

.coun_price {
    margin: 22px 25px;
    display: flex;
    justify-content: space-between;    
}

.country {
    font-weight: 700;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.price {
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #6246E5;
}

.days {
    margin-left: 22px;
    width: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card2 {
    background-image: url(../img/london.png);
}

.card3 {
    background-image: url(../img/europe.png);
} */