* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {    
    margin: 0 auto;    
    width: 1280px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px 12px 0px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;    
    width: 270px;
}

nav ul a {
    text-decoration: none;    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color:  rgb(0, 0, 0); 
}

.btn_login {
    width: 200px;
    height: 54px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 153, 255);
}

.doc_img {
    margin-bottom: 80px;
}

.hosp_info {
    margin: 0px auto;
    width: 1280px;      
    display: flex;    
    align-items: center;
}

.hosp_desc h1 {
    margin-bottom: 32px;
    width: 632px;
    height: 122px;    
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
    letter-spacing: 0.05em;
    text-transform: capitalize    
}

.hosp_desc_text {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 156%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
}

.btn_check {
    width: 200px;
    height: 54px;    
    align-items: center;
    background: rgb(0, 153, 255);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgb(255, 255, 255);
}

.serv_funk {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 785px;
    background: rgba(215, 241, 246, 0.34);  
}

.serv_funk_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_title_text {    
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}

.funk_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    text-align: center;    
}

.card_serv {
    display: flex;
    justify-content: space-between;
    width: 1098px;
}

.card {    
    height: 230px;
    width: 308px;
    background: rgb(255, 255, 255);
    border-radius: 5px;    
}

.card_serv_img {
    position: relative;
    bottom: 70px;
    left: 95px;
}

.card_serv_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;    
}

.card_serv_disc {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
    width: 194px;
}

.img_info_wrapper {    
    height: 675px;
    background-image: url(../img/background_circle.png);
    background-repeat: no-repeat;    
    background-position: 5px 40px;    
    margin: 70px 45px 90px 0px;
}

.text_about{
    position: relative;
    top: -40px
}

.info_nav_title{
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: rgb(51, 51, 51);    
}

.info_title {    
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
    margin: 20px 0px 30px 0px;
}

.info_text{  
    font-weight: 500;
    font-size: 18px;
    line-height: 183.5%;
    letter-spacing: 0.03em;
    color: rgb(153, 153, 153);
    margin-bottom: 60px;
}

.doctors {
    height: 883px;
    padding-top: 100px;
}

.doctors_profiles{
    width: 1280px;
    margin-top: 82px;
}

.card_doctor {
    width: 308px;
    height: 396px;    
    margin-bottom: 155px;
}

.doc_img_back_1{
    background-image: url(../img/dr_Moeharman.png);
    background-repeat: no-repeat;
}

.doc_img_back_2{
    background-image: url(../img/Antonius_Jansen.png);
    background-repeat: no-repeat;
}

.doc_img_back_3{
    background-image: url(../img/Nadya_Navira.png);
    background-repeat: no-repeat;
}

.doc_img_back_4{
    background-image: url(../img/Muhammad_Ali_Syahputra.png);
    background-repeat: no-repeat;
}


.doc_info_card {
    position: relative;
    top: 320px;
    left: 25px;    
    width: 260px;
    height: 139px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 25px;   
}

.doc_link{
    display: block;
    width: 12px;
    height: 12px;
    text-decoration: none;
    color: black;
}

.doctor_links {
    display: flex;
    justify-content: space-between;
    width: 100px;       
}

.doctor_name{   
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
}

.doctor_prof {
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #333333;
}

.testimonial {
    height: 1488px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.testimonial_wrapper{
    height: 945px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial_text{ 
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
}

.testimonial_title{
    width: 630px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51);
}

.reviews_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 710px;
}

.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
}

.review_1 {    
    width: 632px;
    height: 621px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));  
}

.img_review{
    width: 632px;
    height: 405px;     
}

.img_review img {
    border-radius: 5px;
}

.text_review_wrapper{
    width: 632px;
    height: 216px;    
    background: rgb(241, 250, 252);
    border-radius: 5px;
}

.text_review {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0px 0px 21px; 
}

.text_review h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.text_review p{
    width: 472px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: 0.03em;
    color:rgb(51, 51, 51);
}

.review_btn{
    width: 164px;
    height: 47.83px;
    background: rgb(0, 153, 255);
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.callback_wrapper {   
    width: 1280px;
    height: 365px;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);   
}

.callback_text_wrapper{
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 82px 78px 0px 78px;
}

.callback_title {
    width: 677px;
    height: 105px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;    
}

.callback_text {
    width: 323px;
    height: 29.41px;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-transform: capitalize;
}

.callback_btn {    
    position: relative;
    left: 990px;
    bottom: 78px;
    width: 216px;
    height: 57px;    
    background: #0099FF;
    border-radius: 5px;
    border: none;    
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

footer {
    display: flex;    
    align-items: center;
    margin: 0 auto;
    height: 425px;    
    background: rgb(241, 250, 252);
}

.foot_cont_wrapper {
    display: flex;
    justify-content: space-between;    
    margin: 0 auto;
    width: 1280px;
}

.footer_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 540px;
    height: 235px;
}

.footer_text {    
    font-weight: 400;
    font-size: 18px;
    line-height: 191%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(51, 51, 51)
}

.social_links {    
    width: 272px;
    display: flex;
    justify-content: space-between;
}

.social_link {    
    height: 32px;
    width: 32px;
    border: none;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;    
    align-items: center;
    justify-content: center;   
    color: rgb(51, 51, 51);
    font-size: 17px;
}

.nav_footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 72px;
    height: 235px;
}

.nav_footer_name {    
    width: 72px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.nav_footer {
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_foot_link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;    
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color:rgb(0, 0, 0);
}

.footer_form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 416px;
    height: 235px;
}

.footer_form_wrapper p {
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
}

.footer_form {
    width: 416px;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_form input{
    width: 416px;
    height: 74px;
    background: rgb(73, 73, 73);
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.61);
}

.footer_form button {
    width: 216px;
    height: 63px;
    background: #0099FF;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}